*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
    
}
a{
    text-decoration: none;
}
header{
    height: 80px;
    background-color: rgb(173, 216, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 165, 32);
    height: 50px;
    align-items:center;
    text-align: center;
}
#menu{
    display:flex;
    flex-direction: row;
    gap:20px;
    flex-basis: 50%;
    justify-content: center;
}
#logo, #Login{
    flex-basis: 25%;
    
}
.section{
    background-color:rgb(0, 0, 139);
    height: 498px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    padding:50px;
}
.pink_square{
    flex-basis: 902px;
    min-height: 399px;
    background-color: rgb(238, 130, 238);
}
.section_main{
    height: 600px;
}
.col-1{
    background-color: rgb(30, 144, 255);
    min-height: 498px;
    width: 719px;
    border: 1px dashed black;
}
.col-2{
    background-color: rgb(255, 192, 203);
    min-height: 498px;
    width: 482px;
    border: 1px dashed black;
}
.gray{
    background-color:rgb(217, 217, 217) ;
}
.reverse{
    flex-direction:row-reverse;
}
#green_square{
    flex-basis: 1197px;
    height: 895px;
    background-color: rgb(34, 139, 34);
    border: 1px dashed black;
}
.section_footer{
    height: 634px;
    background-color: rgb(35, 39, 42);
    padding-bottom:50px;
    
}
.col_footer{
    height: 579px;
    flex-basis: 210px;
    background-color: rgb(32, 178, 170);
    border: 1px dashed white;
}
#col-big{
    flex-basis: 420px;
    background-color:rgb(240, 128, 128) ;
    border: 2px dashed black;
}
.section_footer_bar{
    height: 111px;
    background-color:rgb(35, 39, 42) ;
    border-top:2px solid rgb(97, 98, 100);
    display: flex;
    
}
#container_footer{
    width: 100%;
    max-width: 1200px;
    height: 67px;
    max-height: 67px;
    background-color: rgb(127, 255, 212);
    padding: 10px 336px;
    justify-content:space-between;
}
.row_logo{
    flex-basis:100%;
    align-self: center;

}
.row_button{
    flex-basis: 100%;
    align-self: center;
}